NODE_ENV=development
API_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret_key

MYSQL_DATABASE=events
MYSQL_ROOT_PASSWORD=asdf1234

GOOGLE_CALENDAR_ID=your_google_calendar_id
GOOGLE_CALENDAR_SERVICE_ACCOUNT_EMAIL=your_service_account_email
GOOGLE_CALENDAR_SERVICE_ACCOUNT_PRIVATE_KEY=your_service_account_private_key
GOOGLE_CALENDAR_EVENT_DURATION_MINUTES=60
