NODE_ENV=development
API_URL=http://localhost:3000
WEB_URL=http://localhost
JWT_SECRET=your_jwt_secret_key

MYSQL_DATABASE=events
MYSQL_ROOT_PASSWORD=asdf1234

GOOGLE_CALENDAR_JOIN_URL=link_to_join_calendar

EMAIL_TESTING=true
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=user@example.com
SMTP_PASSWORD=password
SMTP_FROM_NAME=No Reply
SMTP_FROM_EMAIL=noreply@example.com