# Ignore Mac system files
.DS_Store

# Environment variables and dependencies
.env
api/config/*
node_modules

# Jest coverage outputs
**/tests/coverage

# webpack build outputs
web/public/js
web/public/css
web/public/assets/fonts
web/public/**/generated

.github/references
.agents