footer {
    background: rgb(from var(--color-text) r g b / 0.05);
    padding: 20px 30px;
    border-top: 1px solid rgb(from var(--color-text) r g b / 0.1);

    .footer-content {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        p {
            margin: 0;
            font-size: 0.9rem;
            color: rgb(from var(--color-text) r g b / 0.8);
            display: flex;
            align-items: center;

            @media (min-width: 600px) {
                font-size: 1rem;
            }

            a {
                color: var(--color-link);
                text-decoration: none;
                transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                display: inline-flex;
                align-items: center;
                gap: 6px;

                &:hover {
                    color: color-mix(in srgb, var(--color-link) 80%, transparent 20%);
                }

                svg {
                    width: 1.2rem;
                    height: 1.2rem;
                    fill: var(--color-link);
                }

            }
        }

    }
}