.hero {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
    @media (min-width: 600px) {
        height: calc(100vh - 150px);
    }

    @media (min-width: 900px) {
        margin: 0;
        justify-content: flex-start;
    }

    .hero__content {
        z-index: 1;
        padding: 30px 10px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 720px;
        box-sizing: border-box;

        @media (min-width: 600px) {
            margin: 30px 10px;
            padding: 30px 30px 60px;
            border-radius: var(--radius);
            background-color: color-mix(in srgb, var(--color-background), transparent 50%);
            backdrop-filter: blur(8px);
            border: 1px solid color-mix(in srgb, var(--color-main), transparent 20%);
        }

        @media (min-width: 900px) {
            background-color: transparent;
            border: none;
            backdrop-filter: none;
            margin: 0;
            border-radius: 0;
            height: 100%;
            padding: 0 40px;
            width: clamp(450px, 50%, 650px);
        }
    }

    .hero__image {
        background-attachment: fixed;
        background-size: cover;
        background-image: url('~/public/assets/ifsul-900.webp');

        position: absolute;
        right: 0;
        display: none;
        height: 100%;
        flex-grow: 1;
        width: 100vw;

        @media (min-width: 600px) {
            display: block;
        }

        @media (min-width: 900px) {
            position: relative;
            width: auto;
            background-position: 250px center;
            background-image: url('~/public/assets/ifsul-1800.webp');
        }
    }
}

.subtitle {
    color: var(--color-text-secondary);
    line-height: 2.4rem;
    font-size: 1.4rem;
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: 900px) {
        text-align: left;
    }
}

h1 + .subtitle {
    margin-top: -2px;
}

.hero__actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 4px;
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;
    }

    @media (min-width: 900px) {
        justify-content: flex-start;
    }
}


